.container-fluid {
    padding: 0px;
}

.header {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.logo {
    padding: 5px 20px;
    background: #1190cd;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
