<div class="bg-white container-fluid viva-box">
    <div  class="house-box"
        *ngIf="test">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img [src]="test.images[0]">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="test.images[1]">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="test.images[3]">
            </ng-template>
        </ngb-carousel>
        <!-- <img src="{{ test.images[1] }}"> -->
    </div>

    <ngb-pagination [collectionSize]="300"
        [(page)]="page"
        aria-label="Default pagination"
        [maxSize]="2"></ngb-pagination>

</div>
