.viva-box {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 50px;
}

.house-box {
    display: inline-block;
    height: 450px;
    background-color: #a3a2a234;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 24%;
    padding: 2px;
}

@media (max-width: 600px) {
    .house-box {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 600.01px) and (max-width: 799.99px) {
    .house-box {
        width: 40%;
        margin-left: 50px;
    }
}

@media (min-width: 800px) and (max-width: 991.98px) {
    .house-box {
        width: 26%;
        margin-left: 50px;
    }
}
